:root {
    --accent-color: #26C6EA;
    --main-color: #0B0E66;
    --text-color: #141414;
}
body {
    font-family: Inter;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1037px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    background-image: linear-gradient(
        to right,
        rgba(43, 74, 97, 0.87),
        rgba(43, 74, 97, 0.8)
    ),
    url(../image/navigation_jpg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 39px;
    padding-bottom: 39px;
    border-bottom: 3px solid #eee;
  
    display: flex;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}
.navigation-img {
    margin-right: auto;
}
.navigation-list {
    display: flex;
    justify-content: center;
     align-items: center;
     margin-left: 168px;
     margin-right: 210px;
    width: 325px;
}
.navigation-item + .navigation-item {
    margin-left: 38px;
}
.navigation-link {
    color: #FFF;
        text-align: center;
        font-size: 20px;
        line-height: 1.2;
        text-decoration: none;
       
}
.navigation-link:focus,
.navigation-link:hover {
    color: var(--accent-color);
}
.navigation-br {
    color: var(--accent-color);
        font-size: 20px;
        line-height: 1.25;
        text-decoration: none;
        border-radius: 45px 0px;
        border: 2px solid #26C7EA;
        background: #0B0E66;
        padding: 9px 38px 8px 38px ;
      
}
.div-ENG {
    display: flex;
    align-items: center;
}

.navigation-text {
    color: #FFF;
        text-align: center;
        font-family: "Hammersmith One";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.svitch {
    margin-right: 50px;
}
.switcher {
    margin-left: 10px;
    margin-right: 10px;
}
.check {
    position: relative;
    border: 2px solid ;
    border-color: #FFF;
    line-height: 0;
    font-size: 25px;
    margin: 0 10px;
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after {
    appearance: none;
    display: inline-block;
    font-size: inherit;
    border-radius: 1em;
    border: 0;
    transition: 0.35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.check {
    appearance: none;
    display: inline-block;
    border-radius: 1em;
    transition: 0.35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.check label {
    width: 2.2em;
    height: 1em;
    background: transparent;
    overflow: hidden;
}

.check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: 0.8em;
    height: 0.8em;
    top: 0.1em;
    left: 0.1em;
    background: #fff;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
}

.check input[type="checkbox"]:checked {
    left: 1.3em;
}

.check input[type="checkbox"]:checked+label {
    background: rgb(48, 87, 255);
}

.check label::before,
.check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: 0.5em;
    top: 0.5em;
    height: 1em;
    letter-spacing: -0.04em;
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: 0.6em;
    border-radius: 0;
    transform-origin: 0 0 -0.5em;
    backface-visibility: hidden;
}

.check label::after {
    content: "?";
    top: 0.65em;
    left: 0.6em;
    height: 0.1em;
    width: 0.35em;
    font-size: 0.2em;
    transform-origin: 0 0 -0.4em;
}

.check input[type="checkbox"]:checked+label::before,
.check input[type="checkbox"]:checked+label::after {
    left: 2.55em;
    top: 0.4em;
    line-height: 0.1em;
    transform: rotateY(360deg);
}

.check input[type="checkbox"]:checked+label::after {
    height: 0.16em;
    top: 0.55em;
    left: 2.6em;
    font-size: 0.6em;
    line-height: 0;
}
.clan{
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url(../image/clan_png1.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width:  1440px;
    margin: 0 auto;
  
}
.clan-text,
.clan-translated-text {
    color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        
}
.clan-translated-text{
margin-bottom: 42px;
width: 300px;
}
.clan-text {
    width: 298px;
}
.clan-text::after {
    content:" ";
    background-image: url(../image/clan_png2.png);
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 152px;
    margin: 0 auto;
}
.content-wrapper {
    width: 376px;
    margin-left: 50px;
}
.clan-br {
    color: var(--accent-color);
        font-size: 24px;
        text-decoration: none;
        border-radius: 45px 0px;
            border: 2px solid #26C7EA;
            background: #0B0E66;
            padding: 10px 30px 10px 31px;
            display: block;
            width: 260px;
            text-align: center;
}
.quote {
    padding-top: 75px;
    padding-bottom: 10px;
}
.quote-title {
color: #0A3853;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
    text-align: center;
    margin-bottom: 4px;
}
.avatar-quote {
    min-width: 1100px;
    display: block;
}
.quote-name {
    color: #000;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
}
.clan-position {
    display: flex;
    justify-content: space-between;
}
.masenger-list {
    margin-top: 150px;
}
.masenger-button  {
    padding-bottom: 30px;
}
.quote-name::after {
    content: "";
    background-image: url(../image/clan_png3.png);
    background-repeat: no-repeat;
    display: block;
    height: 120px;
    width: 400px;
    margin: 0 auto;
}
.treiler {
    background-image: url(../image/treiler_png1.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 330px;
        padding-bottom: 330px;
}
.treiler-wraper {
   margin: 0 auto;
   text-align: center;
}
.treiler-br {
    color: var(--accent-color);
        font-size: 24px;
        line-height: normal;
        text-decoration: none;
        border-radius: 45px 0px;
        border: 2px solid #26C7EA;
        background: #0B0E66;
        padding: 19px 25px 20px 25px;
 }
 .treiler-title {
    color: #141414;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
 }
.energy {
    margin-bottom: 4px;
    width: 886px;
    margin: 0 auto;
}

 .treiler-name {
     color: #000;
     text-align: center;
     font-size: 24px;
     font-weight: 400;
 }
 .treiler-name::after {
    content: "";
    background-image: url(../image/clan_png3.png);
    background-repeat: no-repeat;
    display: block;
    height: 130px;
    width: 400px;
    margin: 0 auto;
 }
 .treiler-speak {
    margin-top: 75px;
    margin-bottom: 10px;
 }
 .language-title-study {
    color: #141414;
        text-align: center;
        font-family: HeadlandOne;
        font-size: 32px;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 45px;
 }
 .language {
    padding-top: 58px;
        padding-bottom: 57px;
        background-image: url(../image/language_png1.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width:1440px;
        margin: 0 auto;
 }
 .language-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 36px;
   row-gap: 24px;
 }
 .language-item {
       flex-basis: calc(100% / 3 - 36px);
        background-color: rgba(255, 255, 255, 0.70);
        padding: 36px 0px;
 }
 .language-text {
        font-family: HeadlandOne;
        font-size: 24px;
        line-height: 24px;
        /* 100% */
        text-align: center;
 }
 .language-translate {
    color: #000;
    margin-top: 40px;
    font-family: HeadlandOne;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
 }
 
 .symbol-weapon::after {
    content:" ";
        background-image: url(../image/language_png2.png);
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 152px;
        margin: 0 auto;
        display: flex;
 }
 .symbol-bird::after {
    content: " ";
        background-image: url(../image/language_png3.png);
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 152px;
        margin: 0 auto;
        text-align: center;
 }
 .reverse-symbol::after {
    content: " ";
        background-image: url(../image/language_png4.png);
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 152px;
        margin: 0 auto;
        text-align: center;
 }
 .reverse-symbol::after,
 .symbol-bird::after,
 .symbol-weapon::after {
     content: "";
     display: block;
     margin-top: 40px;
 }
 .language-speak {
    padding-top: 75px;
    padding-bottom: 10px;
 }
.language-title {
    color: #141414;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        line-height: normal;
        width: 1000px;
        margin: 0 auto;
}
.language-name {
    color: #000;
    text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
}

.language-name::after {
    content: "";
    background-image: url(../image/clan_png3.png);
    background-repeat: no-repeat;
    display: block;
    height: 120px;
    width: 400px;
    margin: 0 auto;
   
}
.footer {
    background-image: linear-gradient(to right,
            rgba(43, 74, 97, 0.87),
            rgba(43, 74, 97, 0.8)),
        url(../image/navigation_jpg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 25px;
    max-width:  1440px;
    margin: 0 auto;
}

.footer-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list {
    /* margin-left: 80px;
    margin-right: 204px; */
}

.footer-item {
    display: flex;
    text-align: center;
    align-items: center;
}
.footer-item:nth-child(1) {
    margin-bottom: 16px;
}

.logo-wraper::after {
    content:"";
    background-color: #FFF;
    display: block;
    height: 153px;
    width: 2px;
    margin-left: 80px;
}

.footer-item-title {
    color: #FFF;
    margin-right: 20px;
    margin-left: 80px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.footer-coop-item {
    min-width: 769px;
}

.footer-item-line {
    background-repeat: no-repeat;
    display: block;
    text-align: center;
}

.One {
    height: 2px;
    width: 269px;
}

.tvo {
    height: 2px;
    width: 194px;
}

.footer-link {
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    margin-left: 20px;
}

.footer-link {
    text-align: center;
}

.avatar-info {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 45%;
}